
  :root{
   --doc-app-primary: var(--bs-indigo) 
  }
.app-nav{
    background-color: transparent !important;
    width: max-content !important;
    margin-left: auto;
    margin-right: auto ;
    border-radius: 10px;
    .navbar-brand{
        .brand-icon{
            height: 35px !important;
            width: 35px !important;
            filter: drop-shadow(2px 2px 10px #6610f2);
        }
        p{
            color:var(--bs-white);
            filter: drop-shadow(2px 2px 10px #6610f2);
        }      
    }
    .nav-link{
    filter: drop-shadow(2px 2px 10px #6610f2);
}
}
.app-header-bg-backdrop{
    filter: drop-shadow(2px 2px 10px #6610f2);
}

.doc-app-home-main{
   // background-image: linear-gradient(180deg,#c8c7c7, var(--doc-app-primary), #c8c7c7);
   //background-image: repeating-linear-gradient(to top, #b224ef 0%, #7579ff 100%);
   background-color: #000 !important;
  
}
.doc-app-card{
    filter: drop-shadow(-5px -5px 50px #6610f2);
}
.doc-app-intro-p::before{
    content:"— ";
    font-size: .875em;
}
.card-img{
    height: 300px;
}
.code-section {
  font-family: monospace;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #eee;
  margin-bottom: 10px;
  white-space: break-spaces;
}
.app-sidebar{
     border-radius: 30px !important;
}
.link{
    cursor: pointer;
}
.my-nav-item{
    .nav-link{
        color: #fff !important;
    }
}
.doc-app-getting-started-main{
    background-color: #000;
    overflow: scroll;
}
.link-active{
    border-left: 3px solid var(--bs-primary) ;
    background-color: var(--bs-secondary);
}
.sidebar-menu{
    width: 100%;
}
.doc-app-search-input input{
    background-color: var(--bg-dark);
    color: var(--bs-white);
}
.doc-app-search-input input:active{
    background-color: var(--bg-dark);
    color: var(--bs-white);
     box-shadow: none;
}
.doc-app-search-input input:focus{
    background-color: var(--bg-dark) !important;
    color: var(--bs-white) !important;
    box-shadow: none;
}
.doc-app-search-input input::placeholder{
    color: var(--bs-white) !important;
}