
  :root{
   --doc-app-primary: var(--bs-indigo) 
  }
.app-nav{
    .navbar-brand{
        .brand-icon{
            height: 35px !important;
            width: 35px !important;
            filter: drop-shadow(2px 2px 10px #6610f2);
        }
        p{
            color:var(--doc-app-primary);
           
        }      
    }

}

.doc-app-card{
    filter: drop-shadow(-5px -5px 50px #6610f2);
}
.doc-app-intro-p::before{
    content:"— ";
    font-size: .875em;
}
.card-img{
    height: 300px;
}
.code-section {
  font-family: monospace;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #eee;
  margin-bottom: 10px;
  white-space: break-spaces;
}

.link{
    cursor: pointer;
}
.my-nav-item{
    .nav-link{
        color: #fff !important;
    }
}
.doc-app-getting-started-main{
    overflow: scroll;
}
.link-active{
    border-left: 3px solid var(--bs-primary) ;
    background-color: var(--bs-light);
    font-style: italic;
}
.sidebar-menu{
    width: 100%;
}
.doc-app-search-input input{
    background-color: var(--bg-dark);
    color: var(--bs-secondary);
}
.doc-app-search-input input:active{
    background-color: var(--bg-dark);
    color: var(--bs-secondary);
     box-shadow: none;
}
.doc-app-search-input input:focus{
    background-color: var(--bg-dark) !important;
    color: var(--bs-secondary) !important;
    box-shadow: none;
}
.doc-app-search-input input::placeholder{
    color: var(--bs-secondary) !important;
}
.doc-app-text{
    color : var(--bs-indigo) !important;
}
.required-if-not-present{
    font-size: 12px;
}
